* {
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
  }
  
  html, body {
    margin: 0;
    padding: 0;
    background-color: #eee;
  }
  body {
    font-family: {{ theme.theme_font.font }};
    color: {{ theme.theme_font.color }};
  }


  
  .page-wrap {
    color: {{theme.text_color.color}};
    background-color: #ddd;
    padding: 1em;
    min-height: 100vh;
  }

  .main-section {
    text-align: center;
    padding: 40px;
  }
  
  header, footer {
    text-transform: uppercase;
    letter-spacing: .3em;
    color: #fff;
    padding: 1em 50% 1em 2em;
  }
  header, footer {
    background-color: {{ theme.theme_accent_color }};
  }
  